*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.welcome{
    background-image: linear-gradient(#ff7c7a, #e6dacf);
    height: 30vh;
    width: 100vw;
    border-bottom: black solid 2px;
    display: inline-flex;
    align-items: center;
}
.greeting{
    margin-left: 2vw;
    text-align: left;
    -webkit-text-stroke: 2px black; 
    color: #857e77;
    text-decoration: double;
    font-size:5vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.search{
    position: absolute;
    display: inline;
    margin-left: 65vw;
    font-weight: bolder;
    border: black solid 3px;
    border-radius: 25px;
    height: 5vh;
    width: 30vw;
    padding-left: 40px;
    font-size: 1vw;
}
.searchIcon{
    position: absolute;
    margin-left: 66vw;
    z-index: 10;
}
.sales{
    /* background-image: url("https://wallpapers.com/images/hd/grey-gradient-background-2400-x-2000-m24tsanvfbk440io.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 250vh; */
    background-color:#e6dacf;
    background-image: linear-gradient(#e6dacf, #857e77);
    width: 100vw;
    height: 250vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.House{
    list-style: none;
}
.anyHouse{
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: #B07156 solid 3px;
    height: 25vh;
    width: 15vw;
    margin-top: 5vh;
    border-radius: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    /* apply shadows to all images*/
    box-shadow: 10px 10px 25px black;
}
.House2{
    margin-left: 17vw;
}
.House3{
    margin-left: 35vw;
}
.House4{
    margin-left: 53vw;
}
.House5{
    margin-left: 71vw;
}
.House6{
    margin-left: 53vw;
}
.House7{
    margin-left: 35vw;
}
.House8{
    margin-left: 17vw;
}

.House1:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.footerGarage{
    /* background-color: #9FA4A9; */
    /* background-image: url("https://wallpapers.com/images/featured/brown-aesthetic-wdan69t9mhfvfwqx.jpg"); */
    background-image: linear-gradient(#857e77, #bdb4ab);
    height: 10vh;
    width: 100vw;
    border-top: black solid 2px;
    font-size: 2vw;
}
.sign{
    display: inline;
    text-align: left;
    -webkit-text-stroke: 2px black; 
    color: #857e77;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 4vw;
}
.me{
    display:inline;
    margin-left: 20vw;
}
.me:hover{
    color: white;
    cursor: pointer;
}
/* Popup container */
.popup {
    position: relative;
}
/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 60rem;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 100;
    bottom: 125%;
    margin-left: -37vw;
    opacity: 100;
}
/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: 3s linear 10s ex1;
  }
  
  /* Add animation (fade in the popup) */
/* @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
} */
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 100;}
}
@keyframes ex1 {
    from {background-color: red;}
    to {background-color: green;}
}