*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.dGarage{
    display: inline-flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    border: lightgray solid 2px;
    background-color: white;
}
.heading1{
    font-size: 4vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: coral;
}
.search{
    font-weight: bolder;
    border: black solid 3px;
    border-radius: 25px;
    width: 25vw;
    height: 4vh;
    margin-left: 30%;
}
.fa-solid{
    color: black;
    height: 7vhs;
}
.all{
    display: flex;
}
.sidePanel{
    width: 20vw;
    height: 100vh;
    border-right: lightgray solid 2px;
    border-bottom: lightgray solid 2px;
}
.map{
    width: 19vw;
    height: 35vh;
    margin-top: 5vh;
}
.heading{
    font-weight: bold;
    font-size: 2vw;
}
.reserve{
    margin-top: 5vh;
    font-size: 1.15vw;
}
.dropdown{
    margin-top: 5vh;
    font-size: 1.15vw;
}
.mainPanel{
    width: 80vw;
    height: 100vh;
    background-color: #F1F1F1;
    border-right: lightgray solid 2px;
    border-bottom: lightgray solid 2px;
}
.page{
    margin-top: 2.5vh;
}
.next{
    padding-left: 10vw;
}
.previous{
    padding-left: 0.7vw;
}
.next:hover, .previous:hover{
    color: coral;
    cursor: pointer;
}
.itemlist, .itemNames{
    display: inline-flex;
    list-style-type: none;
}
.anyItem{
    border-top: lightgray solid 2px;
    border-left: lightgray solid 2px;
    border-right: lightgray solid 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 12vw;
    height: 22vh;
    margin-left: 6.5vw;
    margin-top: 4vh;
    box-shadow: -5px -5px 30px #888888, 5px 0px 30px #888888;
    background-size: cover;
    background-repeat: no-repeat;
}
.anyNames{
    border-bottom: lightgray solid 2px;
    border-left: lightgray solid 2px;
    border-right: lightgray solid 2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 12vw;
    height: 5vh;
    margin-left: 6.5vw;
    text-shadow: 1px 1px 20px black;
    box-shadow: -5px 0px 30px #888888, 5px 5px 30px #888888;
}
/* .anyNames:hover{
    text-decoration: underline;
    cursor: pointer;
} */
.anyItem:hover, .anyNames:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.05);
}
.item1{
    background-image: url(./images/Amazon\ Computer\ Chair.jpg);
}
.item2{
    background-image: url(./images/Cosair\ Virtuoso\ Wireless\ Headset.jpg);
}
.item3{
    background-image: url(./images/Dyson\ Animal.jpeg);
}
.item4{
    background-image: url(./images/Fat\ Quad.webp);
}
.item5{
    background-image: url(./images/Nike\ Air\ Jordan\ 1\ Royal\ Blue\ Flyknit.jpg);
}
.item6{
    background-image: url(./images/Razer\ Huntsman\ Mini\ Gaming\ keyboard.jpg);
}
.item7{
    background-image: url(./images/ToolBox.webp);
}
.item8{
    background-image: url(./images/Wilson\ NFL\ football.webp);
}